/* 
    This style sheet stylizes the controls inside our
    TA Manager JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    Note that it may seem overwhelming to see so many different
    style classes, even though our application doesn't have that
    many controls, but what this allows us to do is easily
    control and update the style of the entire user interface
    via a stylesheet without having the change Java code.

    Author:	Richard McKenna
    Co-author:  Timothy Hart
    Version:	1.0
*/
.root{

}

.dialog_pane {
    -fx-padding:15;
}

.dialog_heading {
    -fx-font-size: 24pt;
    -fx-color:red;
}

.dialog_prompt {
    -fx-font-family: "Courier New";
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.plain_pane{
    
}

.bordered_pane {
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

.header_pane{
    -fx-font-family: "Courier New";
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-background-color: #ccccff;
}

.header_label {
    -fx-font-family: "Courier New";
    -fx-padding: 0px 0px 0px 10px;
}

.ta_table{
    -fx-font-family: "Courier New";
    -fx-font-size: 12pt;
}

.table-view .column-header.ta_table_column_header .label {
    -fx-font-family: "Courier New";
    -fx-background-color: #000066;
    -fx-text-fill: #ffffff;
}

.add_ta_pane{
    -fx-font-family: "Courier New";
}

.add_ta_text_fields{
    -fx-font-family: "Courier New";
    -fx-font-size: 12pt;
}

.add_ta_button{
    -fx-font-family: "Courier New";
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;    
}

.office_hours_grid{
    
}

.office_hours_grid_time_column_header_pane{
    -fx-background-color: #000066;
    -fx-padding: 10px 20px 10px 20px;
}

.office_hours_grid_time_column_header_label{
    -fx-font-family: "Courier New";
    -fx-text-fill: #ffffff;
}

.office_hours_grid_day_column_header_pane{
    -fx-background-color: #000066;
    -fx-padding: 10px 50px 10px 50px;
}

.office_hours_grid_day_column_header_label{
    -fx-font-family: "Courier New";
    -fx-text-fill: #ffffff;
}

.office_hours_grid_time_cell_pane{
    -fx-background-color: #000099;
    -fx-border-width: 1px;
    -fx-border-color: #6C6CA3;
}

.office_hours_grid_time_cell_label{
    -fx-font-family: "Courier New";
    -fx-text-fill: #ffffff;
    -fx-text-align: center;
}

.office_hours_grid_ta_cell_pane{
   -fx-background-color: #ABAB78;
   -fx-border-width: 1px;
   -fx-border-color: #000000;
   -fx-padding: 6px 0px 6px 0px;
}

.office_hours_grid_ta_cell_label{
    -fx-font-family: "Courier New";
    -fx-text-align: center;
}